<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/static/css/lib/bulma.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/global.css}">
    <title>RentalSys</title>
</head>
<body>

<!-- Top Navbar Menu -->
<nav class="navbar is-dark" role="navigation" aria-label="main-navigation">
    <div class="container">
        <div th:replace="fragments/basic.html :: logo-brand-with-burger"></div>

        <div id="navbarElements" class="navbar-menu">
            <div sec:authorize="isAnonymous()" class="navbar-end">
                <div th:replace="fragments/basic.html :: login-signup"></div>
            </div>

            <div sec:authorize="isAuthenticated()" class="navbar-end">
                <div th:replace="fragments/basic.html :: account-navbar-item"></div>
            </div>
        </div>
    </div>
</nav>


<!-- Main content -->
<div class="section">
    <div class="container">
        <div th:replace="fragments/notification_messages.html :: messages"></div>
        <section layout:fragment="main-content"></section>
    </div>
</div>

<script th:src="@{/static/js/lib/jquery.min.js}"></script>
<script th:src="@{/static/js/global.js}"></script>
</body>
</html>