<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/user/cabinet.html}">
<body>

<section layout:fragment="user-cabinet-content">
    <p class="heading is-size-5">History</p>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Request Type</th>
                <th>Date of Application</th>
                <th>Status</th>
                <th>Remark</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="journal : ${journals}" th:id="${journal.id}">
                <td><a th:text="${journal.id}" href="#"></a></td>
                <td th:text="${journal.requestType.name}"></td>
                <td th:text="${#dates.format(journal.createdAt, 'dd-MM-yyyy')}"></td>
                <td th:text="${journal.status.name}"></td>
                <td th:text="${journal.remark}"></td>
            </tr>
        </tbody>
    </table>
</section>

</body>
</html>