<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/basic.html}">
<head>
    <title>RentalSys - Admin Panel</title>
</head>
<body>
<div layout:fragment="main-content">

    <div class="container">
        <h1 class="title is-size-3">Admin Panel</h1>
    </div>

    <br />

    <div class="box">
        <div class="columns">
            <div class="column is-one-fifth">
                <aside class="menu">
                    <p class="menu-label">
                        Requests
                    </p>
                    <ul class="menu-list">
                        <li><a th:href="@{/admin_panel/income_requests}">Income Requests</a></li>
                    </ul>
                </aside>
            </div>

            <div class="column">
                <section layout:fragment="admin-panel-content"></section>
            </div>
        </div>
    </div>


</div>
</body>
</html>