<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/basic.html}">
<head>
    <title>RentalSys - User Cabinet</title>
</head>
<body>
<div layout:fragment="main-content">

    <div class="box">
        <div class="columns">
            <div class="column is-one-fifth">
                <aside class="menu">
                    <p class="menu-label">
                        Requests
                    </p>
                    <ul class="menu-list">
                        <li><a th:href="@{/requests/history}">History</a></li>
                        <li><a th:href="@{/requests/company_registration}">Company Registration</a></li>
                    </ul>
                </aside>
            </div>

            <div class="column">
                <section layout:fragment="user-cabinet-content"></section>
            </div>
        </div>
    </div>


</div>
</body>
</html>