<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/user/cabinet.html}">
<body>

<section layout:fragment="user-cabinet-content">
    <p class="heading is-size-5">Company Information</p>

    <table>
        <tbody>
            <tr>
                <td><strong>Company Name</strong></td>
                <td th:text="${company.name}"></td>
            </tr>
            <tr>
                <td><strong>Date of registration</strong></td>
                <td th:text="${company.createdAt}"></td>
            </tr>
            <tr>
                <td><strong>Description</strong></td>
                <td th:text="${company.description}"></td>
            </tr>
            <tr>
                <td><strong>Company registration applicant</strong></td>
                <td th:text="${company.registrationRequest.requestJournal.applicant.username}"></td>
            </tr>
        </tbody>
    </table>
</section>

</body>
</html>