<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:fragment="logo-brand-with-burger" class="navbar-brand">
    <a class="navbar-item is-size-2 has-text-weight-semibold" th:href="@{/}">RentalSys</a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarElements">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </a>
</div>

<div th:fragment="login-signup" class="navbar-item">
    <div class="buttons">
        <a class="button is-rounded is-outlined" th:href="@{/auth/login}">Log in</a>
        <a class="button is-primary is-rounded" th:href="@{/auth/signup}"><strong>Sign up</strong></a>
    </div>
</div>

<div th:fragment="logout" class="navbar-item">
    <form th:action="@{/auth/logout}" method="post">
        <button class="button is-primary is-rounded" type="submit" th:href="@{/auth/logout}"><strong>Log out</strong></button>
    </form>
</div>

<div th:fragment="account-navbar-item" class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">Account</a>
    <div class="navbar-dropdown">
        <a th:href="@{/user/cabinet}" class="navbar-item">My Cabinet</a>
        <a th:href="@{/user/settings}" class="navbar-item">Settings</a>
        <hr class="navbar-divider" />
        <div class="navbar-item is-flex is-justify-content-center">
            <form th:action="@{/auth/logout}" method="post">
                <button class="button is-outlined is-small" type="submit" th:href="@{/auth/logout}"><strong>Log out</strong></button>
            </form>
        </div>
    </div>
</div>

<footer th:fragment="footer" class="footer">
    <div class="content has-text-centered">
        <p>RentalSys 2020. All Rights Reserved.</p>
    </div>
</footer>

</html>