<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="messages">
    <!--/*@thymesVar id="globalSuccessMessages" type="java.util.Collection<java.lang.String>"*/-->
    <div th:if="${globalSuccessMessages}" class="container">
        <div th:each="msg, stat : ${globalSuccessMessages}" th:id="${stat.index}" class="notification is-success is-light" style="margin: 1rem 0">
            <button class="delete"></button>
            <span th:text="${msg}"></span>
        </div>
    </div>

    <!--/*@thymesVar id="globalInfoMessages" type="java.util.Collection<java.lang.String>"*/-->
    <div th:if="${globalInfoMessages}" class="container">
        <div th:each="msg, stat : ${globalInfoMessages}" th:id="${stat.index}" class="notification is-info is-light" style="margin: 1rem 0">
            <button class="delete"></button>
            <span th:text="${msg}"></span>
        </div>
    </div>

    <!--/*@thymesVar id="globalWarningMessages" type="java.util.Collection<java.lang.String>"*/-->
    <div th:if="${globalWarningMessages}" class="container">
        <div th:each="msg, stat : ${globalWarningMessages}" th:id="${stat.index}" class="notification is-warning is-light" style="margin: 1rem 0">
            <button class="delete"></button>
            <span th:text="${msg}"></span>
        </div>
    </div>

    <!--/*@thymesVar id="globalErrorMessages" type="java.util.Collection<java.lang.String>"*/-->
    <div th:if="${globalErrorMessages}" class="container">
        <div th:each="msg, stat : ${globalErrorMessages}" th:id="${stat.index}" class="notification is-danger is-light" style="margin: 1rem 0">
            <button class="delete"></button>
            <span th:text="${msg}"></span>
        </div>
    </div>
</div>

</html>