<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/basic.html}">
<head>
    <title>RentalSys - Home</title>
</head>
<body>
    <div layout:fragment="main-content">
        <div class="is-flex is-flex-direction-column is-align-items-center">
            <h1 class="title">RentalSys Cloud Software</h1>
            <h2 class="subtitle"><strong>RentalSys</strong> is a real estate operating management software in <strong>the cloud</strong></h2>
            <p><a th:href="@{/auth/login}"><strong>Try it out.</strong></a></p>
        </div>
    </div>
</body>
</html>