<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin_panel/main.html}">
<body>

<section layout:fragment="admin-panel-content">
    <p class="heading is-size-5">Income Requests Journal</p>

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>Applicant</th>
            <th>Request Type</th>
            <th>Date of Application</th>
            <th>Status</th>
            <th>Remark</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="journal, stat : ${journals}" th:id="${journal.id}">
            <th th:text="${stat.index + 1}"></th>
            <td th:text="${journal.id}"></td>
            <td th:text="${journal.applicant.email}"></td>
            <td th:text="${journal.requestType.name}"></td>
            <td th:text="${#dates.format(journal.createdAt, 'dd-MM-yyyy')}"></td>
            <td th:text="${journal.status.name}"></td>
            <td th:text="${journal.remark}"></td>
            <td>
                <a th:href="@{/admin_panel/income_requests/{id}/(id = ${journal.id})}">
                    <span class="icon has-text-info"><i class="fa fa-info-circle"></i></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</section>

</body>
</html>