<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin_panel/main.html}">
<body>

<section layout:fragment="admin-panel-content">
    <p class="heading is-size-4">Income Requests View</p>

    <br />

    <div>
        <h3 class="is-size-5">Request Common Information</h3>
        <p>
            <strong>Request ID: </strong>
            <span th:text="${request.id}"></span>
        </p>
        <p>
            <strong>Applicant: </strong>
            <span th:text="${request.applicant.email}"></span>
        </p>
        <p>
            <strong>Request Type: </strong>
            <span th:text="${request.requestType.name}"></span>
        </p>
        <p>
            <strong>Date of Application: </strong>
            <span th:text="${#dates.format(request.createdAt, 'dd-MM-yyyy')}"></span>
        </p>
        <p>
            <strong>Status: </strong>
            <span th:text="${request.status.name}"></span>
        </p>
        <p>
            <strong>Remark: </strong>
            <span th:text="${request.remark}"></span>
        </p>
        <hr />
        <h4 class="is-size-6">Request Content</h4>
        <div th:if="${request.companyRegistrationRequest}">
            <p>
                <strong>Company Name: </strong>
                <span th:text="${request.companyRegistrationRequest.companyName}"></span>
            </p>
            <p>
                <strong>Company Information: </strong>
                <br />
                <pre th:text="${request.companyRegistrationRequest.companyInformation}"></pre>
            </p>
        </div>

        <br />

        <form th:action="@{/admin_panel/income_requests/{id}/set_as_pending/(id = ${request.id})}" method="post">
            <button type="submit" class="button is-info">Set as Pending</button>
        </form>
        <form th:action="@{/admin_panel/income_requests/{id}/accept/(id = ${request.id})}" method="post">
            <button type="submit" class="button is-success">Accept</button>
        </form>
        <form th:action="@{/admin_panel/income_requests/{id}/reject/(id = ${request.id})}" method="post">
            <button type="submit" class="button is-danger">Reject</button>
        </form>
    </div>
</section>

</body>
</html>